.MainVisual .visual_slide .itm {
    position: relative;
    height: 45rem;
}

.MainVisual .visual_slide .itm01 {
    background: #EBEBEB;
}

.MainVisual .visual_slide .itm02 {
    background: #E3E3E3;
}

.MainVisual .visual_slide .itm03 {
    background: #F0F0F0;
}

.MainVisual .visual_slide .itm04 {
    background: #FFEDC9;
}

.MainVisual .visual_slide .itm05 {
    background: #88A0A0;
}

.MainVisual .visual_slide .itm06 {
    background: #FFEDC9;
}


.MainVisual .visual_slide .itm .con_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100.5rem;
    width: 100%;
    padding: 0 1.5rem;
}

.MainVisual .visual_slide .itm .text_box span {
    display: inline-block;

    font-size: 1.4rem;
    font-weight: 600;

    margin: 0 0 1.6rem 0;
    padding: 0.8rem 1.6rem;

    border-radius: 6rem;

    background: var(--mc);
    color: var(--wc);
}

.MainVisual .visual_slide .itm .text_box p {
    font-size: 4rem;
    font-weight: 800;

    line-height: 4.8rem;
    margin: 0 0 3.2rem 0;
}

.MainVisual .visual_slide .itm .text_box strong {
    position: relative;
    font-size: 1.8rem;
    margin: 0 1.6rem 0 0;
}

.MainVisual .visual_slide .itm .text_box strong~strong::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.8rem;
    transform: translate(-50%, -50%);

    width: 0.1rem;
    height: 1.2rem;

    background: rgba(0, 0, 0, 0.2);
}

.MainVisual .visual_slide .swiper-pagination {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: 5px;
}

.MainVisual .visual_slide .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--mc);
}

.MainVisual .control_box {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--wc);
    border-radius: 2.4rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);

    padding: 1.6rem 3.2rem;
    margin: -3.75rem 0 1rem 0;
}

.MainVisual .control_box .control {
    display: flex;
}

.MainVisual .control_box .control .pause {
    position: relative;
    padding: 0.8rem;
    cursor: pointer;
    font-size: 0;
}

.MainVisual .control_box .control .pause::before {
    content: "\e034";
    font-family: 'Material Symbols Outlined';
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.6rem;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.MainVisual .control_box .control .pause.on::before {
    content: "\e037";
    font-family: 'Material Symbols Outlined';
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.MainVisual .control_box .control .arrows {
    display: flex;
}

.MainVisual .control_box .control .left {
    padding: 0.8rem;
    cursor: pointer;
}

.MainVisual .control_box .control .right {
    padding: 0.8rem;
    cursor: pointer;
}

.MainVisual .control_box .control span {
    font-size: 2.8rem;
}

.MainVisual .control_box .progress_bar {
    position: relative;
    font-weight: 500;
}

.MainVisual .control_box .progress_bar span {
    color: var(--mc);
    margin: 0 4px 0 0;
    font-size: 2.2rem;
}

@media (max-width: 400px) {
    .MainVisual .control_box {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .MainVisual .visual_slide .itm .text_box p {
        font-size: 6.5vw;
        line-height: calc(6.5vw + 0.8rem);
    }
}

@media (max-width: 768px) {
    .MainVisual .visual_slide .itm {
        height: calc(100vh - 18rem);
    }

    .MainVisual .visual_slide .itm .con_box {
        flex-direction: column;

        max-height: 50rem;
        height: 100%;
    }
}